.popup_overlay {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AEOFQs3Rovy/gAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12N48eLFGQAI+QOFL6ImxwAAAABJRU5ErkJggg==");
	background: rgba(232,232,232,.8);
}
.popup_wrapper .popup {
	background: #fff;
	width: 400px;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 5px 20px rgba(0,0,0,.1);
	outline: 1px solid #ddd;
	outline: 1px solid rgba(0,0,0,.03);
	font-family: "Roboto", sans-serif;
}
.popup_wrapper .popup .popup_title {
	color: #444;
	line-height: 64px;
	padding: 0 20px;
	margin-bottom: 10px;
	min-height: 20px;
}
.popup_wrapper .popup .popup_title h1,
.popup_wrapper .popup .popup_title h2,
.popup_wrapper .popup .popup_title h3,
.popup_wrapper .popup .popup_title h4,
.popup_wrapper .popup .popup_title h5,
.popup_wrapper .popup .popup_title h6 {
	margin: 0;
}
.popup_wrapper .popup .popup_title h1 {
	font-size: 22px;
}
.popup_wrapper .popup .popup_title h2 {
	font-size: 18px;
}
.popup_wrapper .popup .popup_title h3 {
	font-size: 16px;
}
.popup_wrapper .popup .popup_title h4 {
	font-size: 14px;
}
.popup_wrapper .popup .popup_title h5 {
	font-size: 12px;
}
.popup_wrapper .popup .popup_title h6 {
	font-size: 12px;
}
.popup_wrapper .popup_close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 24px;
	height: 24px;
	border-radius: 3px;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 23px;
	color: #444;
}
.popup_wrapper .popup_close svg {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	fill: #444;
	border-radius: 3px;
}
.popup_wrapper .popup_content {
	padding: 0 20px;
}
.popup_wrapper .popup p {
	font-size: 16px;
	color: #777;
	line-height: 32px;
}
.popup_wrapper .popup p + p {
	margin: 16px 0 0 0;
}
.popup_wrapper .popup input,
.popup_wrapper .popup textarea {
	width: 100%;
	box-sizing: border-box;
	border: 0;
	background: none;
	outline: 0;
	border-bottom: 2px solid #ddd;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	resize: none;
	line-height: 24px;
	padding: 2px 0;
	color: #444;
	box-shadow: none;
}
.popup_wrapper .popup input:focus,
.popup_wrapper .popup textarea:focus {
	border-bottom: 2px solid #1565C0;
}
.popup_wrapper .popup p + textarea,
.popup_wrapper .popup p + input,
.popup_wrapper .popup input + textarea,
.popup_wrapper .popup textarea + input {
	margin: 16px 0 0 0;
}
.popup_wrapper .popup .popup_buttons {
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px 0 0;
	min-height: 20px;
}
.popup_wrapper .popup .popup_buttons button {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #777;
	line-height: 36px;
	padding: 0 10px;
	margin: 20px 10px 20px 0;
	border: 0;
	border-radius: 3px;
	background: none;
	float: right;
	cursor: pointer;
	outline: 0;
}
.popup_wrapper .popup .popup_close:hover,
.popup_wrapper .popup .popup_close:hover svg,
.popup_wrapper .popup .popup_buttons button:hover {
	background: #eee;
}
.popup_wrapper .popup .popup_close:active,
.popup_wrapper .popup .popup_close:active svg,
.popup_wrapper .popup .popup_buttons button:active {
	background: #ddd;
}
.popup_wrapper .popup .popup_buttons button.ok {
	color: #1565C0;
}
.popup_wrapper .popup .popup_buttons button.no {
	color: #F44336;
}
/* stretchTop & stretchBottom */
.popup_wrapper[data-position="stretchTop"] .popup,
.popup_wrapper[data-position="stretchBottom"] .popup {
	border-radius: 0;
}
/* stretchLeft & stretchRight */
.popup_wrapper[data-position="stretchLeft"] .popup,
.popup_wrapper[data-position="stretchRight"] .popup {
	border-radius: 0;
}
.popup_wrapper[data-position="stretchLeft"] .popup  .popup_title,
.popup_wrapper[data-position="stretchRight"] .popup .popup_title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.popup_wrapper[data-position="stretchLeft"] .popup  .popup_buttons,
.popup_wrapper[data-position="stretchRight"] .popup .popup_buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.popup_wrapper[data-position="stretchLeft"] .popup .popup_content,
.popup_wrapper[data-position="stretchRight"] .popup .popup_content {
	position: absolute;
	top: 74px;
	left: 0;
	right: 0;
	bottom: 76px;
	overflow: auto;
}
/* Overflow */
.popup_wrapper.popup_overflow_y,
.popup_wrapper.popup_overflow_y .popup {
	height: 100% !important;
	top: 0 !important;
}
.popup_wrapper.popup_overflow_x:not([data-position="stretchTop"]):not([data-position="stretchBottom"]),
.popup_wrapper.popup_overflow_x:not([data-position="stretchTop"]):not([data-position="stretchBottom"]) .popup {
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	border: 0;
	border-radius: 0;
}
.popup_wrapper.popup_overflow_y .popup .popup_title,
.popup_wrapper.popup_overflow_x:not([data-position="stretchTop"]):not([data-position="stretchBottom"]) .popup .popup_title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.popup_wrapper.popup_overflow_x:not([data-position="stretchTop"]):not([data-position="stretchBottom"]) .popup .popup_title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	cursor: inherit !important;
}
.popup_wrapper.popup_overflow_y .popup .popup_buttons,
.popup_wrapper.popup_overflow_x:not([data-position="stretchTop"]):not([data-position="stretchBottom"]) .popup .popup_buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.popup_wrapper.popup_overflow_y .popup .popup_content,
.popup_wrapper.popup_overflow_x:not([data-position="stretchTop"]):not([data-position="stretchBottom"]) .popup .popup_content {
	position: absolute;
	top: 74px;
	left: 0;
	right: 0;
	bottom: 76px;
	overflow: auto;
}
/* ScrollTop */
.popup_wrapper .popup .popup_title:after,
.popup_wrapper .popup .popup_buttons:before,
.popup_wrapper .popup .popup_title:after,
.popup_wrapper .popup .popup_buttons:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 10px;
	pointer-events: none;
	opacity: .1;
	transition: margin-top .3s,
				margin-bottom .3s,
				height .3s;
}
.popup_wrapper .popup .popup_title:after,
.popup_wrapper .popup .popup_title:after {
	margin-bottom: -20px;
	bottom: 0;
	background: -webkit-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	z-index: 1;
}
.popup_wrapper .popup .popup_buttons:before,
.popup_wrapper .popup .popup_buttons:before {
	margin-top: -10px;
	top: 0;
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
.popup_wrapper.popup_scroll_top .popup .popup_title:after,
.popup_wrapper.popup_scroll_bottom .popup .popup_buttons:before,
.popup_wrapper.popup_scroll_top .popup .popup_title:after,
.popup_wrapper.popup_scroll_bottom .popup .popup_buttons:before {
	height: 0;
	opacity: 0;
}
.popup_wrapper.popup_scroll_top .popup .popup_title:after,
.popup_wrapper.popup_scroll_top .popup .popup_title:after {
	margin-bottom: -10px;
}
.popup_wrapper.popup_scroll_bottom .popup .popup_buttons:before,
.popup_wrapper.popup_scroll_bottom .popup .popup_buttons:before {
	margin-top: 0;
}
