$padding: 20px;

.popup_overlay {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AEOFQs3Rovy/gAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAADUlEQVQI12N48eLFGQAI+QOFL6ImxwAAAABJRU5ErkJggg==");
	background: rgba(232,232,232,.8);
}

.popup_wrapper {
	.popup {
		border: 0;
		width: 400px;
		background: #fff;
		border-radius: 3px;
		font-family: "Roboto", sans-serif;
		box-shadow: 0 5px 20px rgba(0,0,0, 0.1);

		outline: 1px solid #ddd;
		outline: 1px solid rgba(0,0,0, 0.03);

		.popup_title {
			color: #444;
			padding: 0 $padding;
			min-height: $padding;
			line-height: 64px;
			margin-bottom: 10px;

			&:after {
				content: " "; // Add a space because Mozilla fails on this sometimes

				background: -webkit-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
				background: -moz-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
				background: -o-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
				background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

				transition: margin-bottom .3s,
							margin-top .3s,
							height .3s;

				margin-bottom: -$padding;
				pointer-events: none;
				position: absolute;
				height: 10px;
				opacity: .1;
				z-index: 1;
				right: 0;
				left: 0;
				bottom: 0;
			}

			// Remove Margin on all header items
			h1, h2, h3,
			h4, h5, h6 {
				margin: 0;
			}

			// Sized according to 'priority'
			h1 { font-size: 22px; }
			h2 { font-size: 18px; }
			h3 { font-size: 16px; }
			h4 { font-size: 14px; }
			h5 { font-size: 12px; }
			h6 { font-size: 12px; }
		}

		.popup_buttons {
			&:before {
				content: " "; // Add a space because Mozilla fails on this sometimes

				background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
				background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
				background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

				transition: margin-bottom .3s,
							margin-top .3s,
							height .3s;

				pointer-events: none;
				position: absolute;
				margin-top: -10px;
				height: 10px;
				opacity: .1;
				right: 0;
				left: 0;
				top: 0;
			}
		}
		
		.popup_close {
			position: absolute;
			top: $padding;
			right: $padding;
			width: 24px;
			height: 24px;
			border-radius: 3px;
			cursor: pointer;
			font-family: "Roboto", sans-serif;
			font-size: 24px;
			text-align: center;
			line-height: 23px;
			color: #444;
	
			svg {
				position: absolute;
				top: 0;
				left: 0;
				background: #fff;
				fill: #444;
				border-radius: 3px;
			}
			&:hover,
			&:hover svg {
				background: #eee;
			}
			
			&:active,
			&:active svg {
				background: #ddd;
			}
		}
	}

	.popup_content {
		padding: 0 $padding;
	}

	.popup {

		p {
			font-size: 16px;
			color: #777;
			line-height: 32px;

			// Margining elements when concurrent to others
			+ p,
			+ textarea,
			+ input {
				margin: 16px 0 0 0;
			}
		}

		input,
		textarea {
			width: 100%;
			box-sizing: border-box;
			border: 0;
			background: none;
			outline: 0;
			border-bottom: 2px solid #ddd;
			font-family: "Roboto", sans-serif;
			font-size: 14px;
			resize: none;
			line-height: 24px;
			padding: 2px 0;
			color: #444;
			box-shadow: none;
			float: left;

			&:focus {
				border-bottom: 2px solid #1565C0;
			}

			// Margining elements when concurrent to others
			+ p,
			+ textarea,
			+ input {
				margin: 16px 0 0 0;
			}
		}

		.popup_buttons {
			float: left;
			width: 100%;
			box-sizing: border-box;
			padding: 0 10px 0 0;
			min-height: $padding;

			button {
				font-family: "Roboto", sans-serif;
				font-size: 14px;
				font-weight: 700;
				color: #777;
				line-height: 36px;
				padding: 0 10px;
				margin: $padding 10px $padding 0;
				border: 0;
				border-radius: 3px;
				background: none;
				float: right;
				cursor: pointer;
				outline: 0;
				
				&.ok {
					color: #1565C0;
				}

				&.no {
					color: #F44336;
				}
				
				&::-moz-focus-inner {
					border: 0; // Remove dotted border because Mozilla decided to add them for no reason
				}
			}
		}

		.popup_buttons button:hover {
			background: #eee;
		}
		
		.popup_buttons button:active {
			background: #ddd;
		}
	}

	// StretchTop, StretchBottom & Full
	&[data-position="stretchTop"],
	&[data-position="stretchBottom"],
	&[data-position="full"] {
		.popup {
			border-radius: 0;
		}
	}
	
	// StretchLeft & StretchRight
	&[data-position="stretchLeft"],
	&[data-position="stretchRight"] {
		.popup {
			border-radius: 0;

			.popup_title {
				position: absolute;
				right: 0;
				left: 0;
				top: 0;
			}

			.popup_buttons {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
			}

			.popup_content {
				position: absolute;
				overflow: auto;
				bottom: 76px;
				top: 74px;
				right: 0;
				left: 0;
			}
		}
	}

	// Overflow
	&.popup_overflow_y,
	&.popup_overflow_x:not([data-position="stretchTop"]):not([data-position="stretchBottom"]) {
		.popup {
			.popup_title {
				position: absolute;
				right: 0;
				left: 0;
				top: 0;
				cursor: inherit;
			}

			.popup_buttons {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
			}

			.popup_content {
				position: absolute;
				overflow: auto;
				bottom: 36px+$padding+$padding;
				top: 74px;
				right: 0;
				left: 0;
			}
		}
	}
	
	&.popup_overflow_y {
		&,
		.popup {
			height: 100% !important;
			top: 0 !important;
		}
	}

	&.popup_overflow_x:not([data-position="stretchTop"]):not([data-position="stretchBottom"]) {
		&,
		.popup {
			height: 100% !important;
			width: 100% !important;
			left: 0 !important;
			top: 0 !important;
			border-radius: 0;
			border: 0;
			
			.popup_resize {
				display: none;
			}
		}
	}
	
	&.popup_overflow_y:not([data-buttons]),
	&.popup_overflow_x:not([data-position="stretchTop"]):not([data-position="stretchBottom"]):not([data-buttons]) {
		.popup {
			.popup_content {
				bottom: 0;
			}
			
			.popup_buttons:before {
				display: none;
			}
		}
	}

	// ScrollTop & ScrollBottom
	&.popup_scroll_top {
		.popup {
			.popup_title {
				&:after {
					margin-bottom: -10px;
					opacity: 0;
					height: 0;
				}
			}
		}
	}

	&.popup_scroll_bottom {
		.popup {
			.popup_buttons {
				&:before {
					margin-top: 0;
					opacity: 0;
					height: 0;
				}
			}
		}
	}
	
	// Resizeable
	&[data-resizeable][data-buttons]:not(.popup_overflow_y):not(.popup_overflow_x) {
		.popup {
			padding-bottom: 36px+$padding+$padding;
			.popup_buttons {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
			}
		}
	}
}
